@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "smallville";
    src: url("smallville/Smallville1.ttf")format("truetype");  }
@font-face {
    font-family: 'komika';
    src: url(super_squad/Super\ Squad.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(60deg, #130f18, #442f61);
    height: 100vh;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    background-color: #130f18;
    box-shadow: 1px 1px 5px black;
}
.navegacao {
    display: flex;
    gap: 4rem;
}
.cabecalho img {
    border-radius: 50%;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 1rem;
    transition: 0.5s;
}

.cabecalho a:hover {
    background: #0b090e;
    border-radius: 1.5rem;
}

.principal {
    margin-bottom: 2.5rem;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.conteudo h1 {
    font-family: 'smallville';
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.descricao {
    text-align: center;
    color: white;
    background-color: #130f188c;
    width: 30%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    
    font-family: 'Arvo';

}

.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #130f18;
    color: rgba(255, 255, 255, 0.466);
    height: 11.52rem;
}

.rodape p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo {
    font-family: 'komika';
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.souji {
    text-align: justify;
    margin-left: 15rem;
    margin-top: 1rem;
}

.imagem-souji {
    margin-right: 15rem;
    border-radius: 15px;
    opacity: 9;
}

.lee {
    margin-top: 10rem;
}

.yusuke {
    margin-top: 4rem;
}